body {
	background: -webkit-gradient(linear, left top, left bottom, from(#f0e6cc), to(#348698)) fixed;
	background: -moz-linear-gradient(linear, left top, left bottom, from(#f0e6cc), to(#348698)) fixed;
	background: -o-linear-gradient(linear, left top, left bottom, from(#f0e6cc), to(#348698)) fixed;
	background: -ms-linear-gradient(linear, left top, left bottom, from(#f0e6cc), to(#348698)) fixed;
	background: linear-gradient(linear, left top, left bottom, from(#f0e6cc), to(#348698)) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from rgba(255,255,255,0.50)), to(#135C8A) fixed;
	background: -moz-linear-gradient(linear, left top, left bottom, from rgba(255,255,255,0.50)), to(#135C8A) fixed;
	background: -o-linear-gradient(linear, left top, left bottom, from rgba(255,255,255,0.50)), to(#135C8A) fixed;
	background: -ms-linear-gradient(linear, left top, left bottom, from rgba(255,255,255,0.50)), to(#135C8A) fixed;
	background: linear-gradient(linear, left top, left bottom, from rgba(255,255,255,0.50)), to(#135C8A) fixed;
	background: linear-gradient(180deg, #f0e6cc, #348698) fixed;
	font-family: 'Raleway', sans-serif;
}

.list-bg {
	height: 39.0625em;
	width: 31.25em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
	border-radius: 8px;
	background: #F5F5F5;
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.50);
	position: relative;
}

.head-color {
	width: 31.25em;
	height: 8.4375em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px 8px 0 0;
	background: #EBEBEC;
	position: absolute;
	z-index: 10;
}

.logo {
	position: absolute;
	z-index: 35;
	margin-left: 12em;
	margin-top: -3.688em;
}

.title {
	font-family: 'Tangerine';
	font-weight: 700;
	font-size: 3em;
	color: #5D717E;
	text-align: center;
	margin-top: 1.250em;
	z-index: 11;
}

.tagline {
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 1em;
	color: #5A5A5A;
	text-align: center;
	z-index: 11;
	margin-top: -1.688em;
}

.main-input {
	margin-top: 10.0em;
	margin-left: 6em;
	position: absolute;
	z-index: 20;
	border: 1px solid #e9e2e2;
	border-radius: 5px;
}

.form-wrapper {
	padding: 2em;
}

#list {
	font-family: 'Raleway';
	font-weight: 500;
	display: inline-block;
	position: relative;
	z-index: 30;
	margin-top: 13em;
	margin-left: 2.5em;
}

#itemDone {
	font-family: 'Raleway';
	font-weight: 500;
	display: inline-block;
	position: relative;
	z-index: 30;
	margin-left: 2.5em;
	width: 22em;
}


li {
	list-style-type: none;
}

input[type="checkbox"] {
	margin-right: 6px;
}

hr {
	width: 70%;
	opacity: 0.4;
}

.checked {
	text-decoration: line-through;
	opacity: 0.2;
}

.listItem {
	text-decoration: none;
	opacity: 1;
	width: 22em;
/* 	border: 1px solid fuchsia; */
}

.trashCan {
	float: right;
}